.login{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 80vh;
  border-radius: 40px;
  border: 2px solid white;
  margin: auto;
  margin-top: 50px;
}

h1{
  color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.loginForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:5px;
  padding: 40px;
  gap: 20px;
}

.input{
  height: 50px;
  width: 100%;
  border-radius: 5px;
}

.button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  width: 50% !important;
  margin-top: 60px;
  border-radius: 10px;
  font-size: 20px;
  background-color: skyblue;
}